.Timer {
    text-align: center;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Timer button {
    border-radius: 100px;
    width: 130px;
    padding: 10px;
}

#time {
    font-size: 48px;
}

#timer-buttons {
    margin-top: 50px;
}

#done {
    margin-top: 10px;
}
#done button {
    font-size: 28px;
    width: fit-content;
}