.Timer {
    text-align: center;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Timer button {
    border-radius: 100px;
    width: 130px;
    padding: 10px;
}

#time {
    font-size: 48px;
    text-align: center;
    background: #004643;
    border-radius: 3px;
    width: 163px;
    height: 70px;
    color: #e8e4e6;
    font-family: "Mulish", sons-serif;
}

.timer-circle {
    width: 247px;
    height: 236px;
    border-radius: 150px;
    background: #E8E4E6;
    justify-content: center;
    align-items: center;
    display: flex;

}

#timer-buttons {
    margin-top: 50px;
}

#done {
    margin-top: 30px;
}
#done button {
    font-size: 28px;
    width: fit-content;
    background: #F9BC60;
}
