.loggedin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loggedin h2 {
    text-align: center;
    padding: 20px;
}

.loggedin button {
    text-align: center;
    border-radius: 50px;
    height: 100px;
    width: 100px;
}