body {
  box-sizing: border-box;
  margin: 0;
  background: #001e1d;
  color: #e8e4e6;
  font-family: "Mulish", sons-serif;
}

.leaderboard-background {
  background: linear-gradient(180deg, #001E1D 0%, #ABD1C6 131.1%);
}

/* @media (max-width: 480px) {
  body {
    box-sizing: border-box;
    margin: 0;
    background: #001e1d;
    color: #e8e4e6;
  }
} */
